<h1 class="text-center mb-3">Rutina Actual</h1>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info align-middle">Lunes</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaLunes">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Martes</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaMartes">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Miercoles</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaMiercoles">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Jueves</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaJueves">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Viernes</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaViernes">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Sabado</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaSabado">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<div class="row bg-dark mx-3">
  <div class="col-4 border border-info"><h5 class="text-info">Domingo</h5></div>
  <div class="col border border-info">
    <p class="text-info my-0" *ngFor="let rutina of rutinaDomingo">{{rutina.ejercicio?.nombre}} - {{rutina.series}}X{{rutina.repeticiones}}</p>
  </div>
</div>
<button (click)="creaRutina()" class="btn btn-lg btn-primary m-3">Crear Nueva</button>