<div class="container">
    <div class="section">
        <h1>Proyecto Sthenos</h1>
        <p>Esta es una pagina web orientada a la ayuda, mejora y planificacion de rutinas de ejecicios
            relacionada a la calistenia (sistema de ejercicios físicos en los que se utiliza el propio peso corporal, 
            para fortalecer los diferentes grupos musculares)
        </p>
        <a routerLink="/exercises" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Ver Ejercicios</a>
    </div>
    <div>
        <img src="assets/calisthenics-home.png" alt="calisthenics-home" height="650">
    </div>
</div>