<div class="container-fluid py-5 bg-secondary min-vh-100">
    <div class="row align-items-center">
      <div class="col-12 ">
        <div class="row">
          <div class="col-lg-4 text-center text-lg-start mb-3">
            <h1 class="ms-3">Planificación</h1>
            <p class="text-justify my-2">En este apartado podrá planificar y crear su propia rutinal semanal con toda libertad, 
                adaptandose a sus objetivos personales y progresiones deseadas.</p>
          </div>
          <div class="col-lg-8">
            <router-outlet></router-outlet> 
          </div>
        </div>
      </div>
    </div>
  </div>
