<div class="container-fluid py-4 bg-secondary vh-100">
  <div class="row flex-column">
    <form (ngSubmit) = "registrarUsuario()" class="col col-sm-4 bg-dark py-4 mx-auto rounded-2">
      <h1 class="text-info text-center">Registrarse</h1>
      <div class="mb-3">
        <input [(ngModel)]="usuario.correo" class="form-control bg-dark text-info" name="correo" type="email" placeholder="Correo">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="usuario.clave" class="form-control bg-dark text-info" name="clave" type="password" placeholder="Clave">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="perfil.nombre" class="form-control bg-dark text-info" name="nombre" type="text" placeholder="nombre">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="perfil.apellido" class="form-control bg-dark text-info" name="apellido" type="text" placeholder="apellido">
      </div>
      <div class="mb-3">
        <input [(ngModel)]="perfil.telefono" class="form-control bg-dark text-info" name="telefono" type="text" placeholder="telefono">
      </div>
      <button type="submit" class="btn btn-primary w-100">Guardar</button>
    </form>
    <div class="col col-sm-4 bg-dark mt-4 mx-auto rounded-2">
      <div class="text-info py-3">
        Si usted ya posee una cuenta puede <a class="link-secondary" routerLink="signin">Ingresar Aquí</a>
      </div>
    </div>
  </div>
</div>
