<header>
  <nav>
      <ul>
          <li><a routerLink="/home" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Inicio</a></li>
          <li><a routerLink="/home" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Acerca de</a></li>
          <li><a routerLink="/home" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Servicios</a></li>
          <li><a routerLink="/home" routerLinkActive="activebutton"
            ariaCurrentWhenActive="page">Contacto</a></li>
      </ul>
  </nav>
</header>

<main>
  <router-outlet />
</main>
