<main class="d-flex align-items-center bg-secondary vh-100">
    <div class="container d-flex flex-column align-items-center mb-5" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="text-center fw-bolder">Projecto Sthenos</h1>
        <p class="text-center fw-bolder">Esta es una aplicación web diseñada para todas las personas que practiquen "Calistenia"<br> o se esten 
            adentrando en este sistema de ejercicios físicos, basado principalmente con el propio peso corporal.<br> 
            En este sistema el interés estaría en los movimientos de las cadenas musculares que componen nuestro cuerpo.<br>
            Con esta app podrá obtener una variedad de utilidades que le ayudarán a progresar y aprender de una <br> 
            gran variedad de ejercicios en los que mejorará su fuerza, resistencia y en general sus records propios.</p>
        <a routerLink="exercises" class="btn btn-lg btn-light">Aprenda Mas</a>
    </div>
</main>
