<main class="d-flex align-items-center bg-secondary vh-100">
    <div class="container d-flex flex-column align-items-center mb-5" data-aos="zoom-in" data-aos-delay="100">
        <h1 class="text-center fw-bolder">Projecto Sthenos</h1>
        <h5 class="text-center">Esta es una aplicación web diseñada para todas las personas que practiquen "Calistenia",<br> 
            o se esten dentrando en este sistema de ejercicios físicos, basado en el trabajo con nuestro peso corporal.<br>
            Con esta app podrá obtener una variedad de utilidades que le ayudarán a progresar y aprender de una <br> 
            gran variedad de ejercicios, en los que mejorará su fuerza, resistencia y en general sus records propios.</h5>
        <a routerLink="exercises" class="btn btn-lg btn-light">Aprender Mas</a>
    </div>
</main>