<div class="card bg-light">
    <form (ngSubmit) = "editarClave()" class="card-body">
      <h1 class="text-center mb-3">Cambio de Clave</h1>
      <div class="row my-1">
        <div class="col-sm-12 d-flex justify-content-around">
          <label class="mx-auto">Ingrese su Clave Actual</label>
          <input [(ngModel)]="actualclave" class="form-control w-75" name="actualclave" type="password">
        </div>
      </div>
      <div class="row my-1">
        <div class="col-sm-12 d-flex justify-content-around">
          <label class="mx-auto">Ingrese su Nueva Clave</label>
          <input [(ngModel)]="nuevaclave" class="form-control w-75" name="nuevaclave" type="text">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12 d-flex justify-content-around">
          <button type="submit" class="btn btn-danger">Guardar</button>
          <a routerLink="/profile/" class="btn bg-dark text-info btn-outline-info">Volver</a>
        </div>
      </div>
    </form>
  </div>
    
  